.UsersForm {
    width: 600px;
    margin: 10px auto;
    background: #282c34;
    padding: 10px 0;
}

.userformInput {
    display: block;
    width: 400px;
    margin: 10px auto;
    padding: 5px;
}

.inputDivItem {
    margin: 20px 0;
}